.home {
    max-width: 1440px;
    height: 1024px;
    position: relative;
    background-image: url('../../img/homePage.png');
    background-size: cover;
    resize: both;
    @media screen and (max-width: 320px) {
        max-width: 320px;
        height: 568px;
        background-image: ('../../img/smallHome.png');
    }

    &__content {
        width: 94%;
        margin-left: auto;
        margin-right: auto;
        &_text {
            width: 13rem;
            padding-top: 8rem;
        }
    }

    &__contact {
        display: flex;
        gap: 2rem;
        position: absolute;
        top: 60rem;
        right: 3rem;
        &_item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            &_text {
                text-decoration: none;
            }
        }
    }
}