@import 'src/scss/colors.scss';

.button {
    border: none;
    background-color: $page-background-color;
    cursor: pointer;

    display: flex;

    justify-content: center;
    align-items: center;

    &__size {
        &_small {
            width: 172px;
            height: 44px;
        }
    
        &_medium {
            width: 192px;
            height: 68px;
        }
    
        &_large {
            width: 248px;
            height: 72px;
        }
    }

    &__background {
        &_light_red {
            background-color: $button-color;
        }
    }

    &__border {
        &_true {
            border: 1px solid $button-color;
        }

        &_radius {
            &_small {
                border-radius: 50px;
            }

            &_medium {
                border-radius: 56px;
            }
        }
    }
}