$page-background-color: white;

$button-color: #D22020;
$link-color: #D22020;

$contact-logo-color: #8D959D;
$contact-text-color: #343A40;

$project-label-color: #212529;

$project-label-color-two: #8D959D;