.portfolio {
    &__content {
        width: 94%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_link {
            text-decoration: none;
        }
    }

    &__section {
        display: flex;
        flex: 1 1 50%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        margin: 6rem auto 6rem auto;
    }
}